# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/media/feedbacks/*
backend/media/submissions/*
!backend/media/submissions/student_1201
!backend/media/submissions/student_1202
!backend/media/submissions/student_1306
!backend/media/submissions/student_1309
backend/media/supervisor_requests/*
backend/media/uploads/*



# Ignore env directory and API
.env
/env/
**/node_modules/
/frontend/.env
__pycache__/
*.pyc
