

button#submissions-header  {
    padding: 0;
    padding-right: 0.25rem;
}

button#submissions-header > span {
    margin: 0;
}

button#submissions-header[aria-expanded="false"] {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
button#submissions-header[aria-expanded="true"] > span > div > svg {
    border-bottom-left-radius: 0px;
}

div.MuiBox-root.css-kei82p > div {
    box-shadow: none !important;
}

button#submissions-header[aria-expanded="true"] {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.css-qs39y3-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
    min-height: 0 !important;
}

.css-i2svoj-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
    min-height: 0 !important;
}   

.css-1i7g6qd-MuiAccordionDetails-root {
    border-radius: 12px !important;
}

.css-1lj3qo4-MuiAccordionActions-root {
    border-bottom-right-radius: 12px !important;
    border-bottom-left-radius: 12px !important;

}

.css-1i7g6qd-MuiAccordionDetails-root:has(+ .css-1lj3qo4-MuiAccordionActions-root) {
    border-radius: 0px !important;
}