:root {
  --primary-color: #58041D;
  --secondary-color: #F8B628;
  --thirtiary-color: #E9DADD;

  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
  }